<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ .title }}</title>
</head>
<body style="max-width: 1000px; margin: 0 auto;">
    <div style="margin: 10px;">
        <div class="state_box">
            <h3>{{ .message }}</h3>
        </div>
        <p>{{ .description }}</p>

    </div>
</body>

<style>
    .state_box {
        color: white; 
        background-color: {{ .color }};
        padding: 10px;
        border-radius: 4px;

        display: flex; justify-items: center;
    }
</style>

</html>